
{% print '\033[1m\033[31m' %}
#########################################################################
#                                                                       #
#                      WARNING! WARNING! WARNING!                       #
#                                                                       #
# Configuration of this instance is managed automatically from Ansible. #
# Any manual changes can and will be rewritten at any time.             #
#                                                                       #
# For additional details see https://oss.help/kb4244                    #
#                                                                       #
#########################################################################
{% print '\033[0m\033[97m' %}
